<div class="ui container">
<div *ngIf="!isLoggedIn()">
  <h1>Login</h1>
  <form class="ui large form" [formGroup]="loginForm"
        (ngSubmit)="login()">
    <div class="field">
      <label>Username</label>
      <input type="text" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched) &&
        loginForm.get('username')?.hasError('required')" class="ui negative message">
        Benutzername ist verpflichtend </div>
      <div *ngIf="loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched) &&
        loginForm.get('username')?.hasError('username')" class="ui negative message">
        E-Mail Format überprüfen </div>
    </div>
    <div class="field">
      <label>Passwort</label>
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.dirty ||
        loginForm.get('password')?.touched)" class="ui negative message">
        Passwort ist verpflichtend </div>
    </div>
    <button type="submit" class="ui tiny button bluebutton"
            [disabled]="loginForm.invalid">Login</button>
  </form>
</div>

<div *ngIf="isLoggedIn()">
  <br>
  <strong style="font-size: larger">Möchten Sie sich ausloggen?</strong>
  <br><br>
  <button type="button" class="ui tiny button bluebutton"
          (click)="logout()">Ja, logout.</button>
</div>
</div>
